.blue {
    color: blue;
    text-align: center;
    background-color: black;
    opacity: 0.3;

  }
  

.red {
    color: red;
    text-align: center;
    background-color: black;
    opacity: 0.3;
  }